<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Navbar</a>
      
      <form class="d-flex" role="search">
        <p class="text-white me-2" *ngIf="userName">Hola!, {{userName}}</p>

        <button class="btn btn-outline-light me-2" type="button" *ngIf="!userLogged" routerLink="login">Login</button>
        <button class="btn btn-outline-light me-2" type="button" *ngIf="userLogged" (click)="logOut()">Logout</button>
        <button class="btn btn-outline-light me-2" type="button" *ngIf="!userLogged" routerLink="register">Register</button>
      </form>
    </div>
  </nav>